// Navigation Styles here

@import 'mixins';

nav{
    width: 100%;
    border-bottom: 1px dashed grey;

    .logo{
        padding: 2% 0%; 
    }
    .navPosition(space-between);

    .navLinks{
        width: 30%;
        
        a{
            text-decoration: none;
            color: black;
        }

        .navLinkStyle()


    }
}